{
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "endOfLine": "lf",
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "quoteProps": "preserve",
  "useTabs": false
}
